
.header {
  background-color: #181a1d;
  border: 1px solid #6d597a;
  border-left: none;
}

.header_wrapper{
  max-width: 1200px;
}

.header_nav {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding-left: 173px;
}

.header_nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-top: none;
  padding: 10px 10px 15px 10px;
}

.main_link {
  border-right: 1px solid #6d597a;
}

.about_link {
  border-right: 1px solid #6d597a;
}

.project_link {
  border-right: 1px solid #6d597a;
}
